NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_REOWN_PROJECT_ID=
NEXT_PUBLIC_BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
NEXT_PUBLIC_VAULT_MANAGER_ADDRESS=
NEXT_PUBLIC_POSITION_BOOK_ADDRESS=
NEXT_PUBLIC_POSITION_ROUTER_ADDRESS=
NEXT_PUBLIC_RISK_ENGINE_ADDRESS=
NEXT_PUBLIC_SETTLEMENT_MANAGER_ADDRESS=

OG_EVM_RPC=https://evmrpc-testnet.0g.ai
OG_INDEXER_RPC=https://indexer-storage-testnet-turbo.0g.ai
OG_PRIVATE_KEY=
