PRIVATE_KEY=0x

BASE_SEPOLIA_RPC=https://sepolia.base.org
OG_TESTNET_RPC=https://evmrpc-testnet.0g.ai

BASESCAN_API_KEY=

WORLD_APP_ID=app_
WORLD_ACTION_ID=place-position

CRE_FORWARDER_ADDRESS=
CHALLENGE_COUNCIL_ADDRESS=

BASE_WORLD_ID_ROUTER=
BASE_USDC_ADDRESS=0x036CbD53842c5426634e7929541eC2318f3dCF7e
BASE_AAVE_POOL_ADDRESS=0x8bAB6d1b75f19e9eD9fCe8b9BD338844fF79aE27
BASE_AUSDC_ADDRESS=0x10F1A9D11CDf50041f3f8cB7191CBE2f31750ACC
BASE_AAVE_ENABLED=false
TESTNET_WITHDRAWAL_DELAY=120

OG_USDC_ADDRESS=
OG_WORLD_ID_ROUTER=
OG_AAVE_POOL_ADDRESS=0x0000000000000000000000000000000000000000
OG_AUSDC_ADDRESS=0x0000000000000000000000000000000000000000
OG_AAVE_ENABLED=false
MAINNET_WITHDRAWAL_DELAY=86400

VAULT_CATEGORY=mixed
MIN_LEGS_PER_POSITION=1
MAX_LEGS_PER_POSITION=10

VAULT_MANAGER_ADDRESS=
USDC_ADDRESS=
SEED_AMOUNT=20000000
